<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<%= @product.name %>

<div>
  <%= link_to t("products.edit"), edit_product_path(@product) %> |
  <%= link_to t("products.index.back"), products_path %>
  <%= button_to t("products.destroy"), @product, method: :delete, data: { confirm: t("confirm") } %>
</div>
